@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .align-element {
      @apply mx-auto max-w-6xl px-8;
    }
  }
.div{
  resize: both;
}
body{
  font-family: poppins;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* width: max-content; */
  /* overflow-x: hidden;  */
}

::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
  height: 4px;
  background-color: #F5F5F5; /* Light gray background */
}

body::-webkit-scrollbar {
  width: 10px; /* Thin scrollbar */
  height: 10px;
  background-color: #F5F5F5; /* Light gray background */
}

body::-webkit-scrollbar-thumb {
  background-color: #17dd91; /* Dark green thumb */
   /* Rounded corners */
}

body::-webkit-scrollbar-track {
  background-color: rgb(234, 240, 243);
}

.editor::-webkit-scrollbar {
  width: 4px; 
  height: 0px;
  background-color: white; 
}

.editor::-webkit-scrollbar-thumb {
  background-color: #636364; 
}
